body{
    margin: 0px;
}

.top{
    background-image: url(img/background1.jpeg) ;
}

.top_nav{
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.top_nav img{
    width: 3vw;
    position: absolute;
    top: 1vh;
    float: left;
}

.top_nav ul{
    width: 100vw;
    float: left;
    margin: 0px;
    padding: 0px;
}

.top_nav ul li{
    border: none;
    list-style: none;
    color: white;
    text-align: center;
    float: left;
    font-size: 2vw;
    padding: 5vw;
    padding-top: 1vh;
    padding-bottom: 3vh;
    margin-left: 3vw;
    margin-top: 1vh; 
}

.top_nav ul li:hover{
    text-shadow: 0px 0px 5px gold;
    border-bottom: 3px solid white;
}

.top_name{
    font-size: 16vh;
    color: white;
    margin-top: 23vh;
    text-align: center;
}

.top_smallName{
    font-size: 6vh;
    color: white;
    text-align: center;
}

.bottom{
    background-image: url(img/background2.jpg);
    color: grey;
    text-align: center;
}

.bottom_nav{
    width: 100vw;
    height: 30vh;
    background-color: black;
    top: 370vh ;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);

}

.homo{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 10vh;
    margin: auto;
}

.homo input{
    flex: 1;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    outline:none ;
    border-bottom-left-radius:25px ;
    border-top-left-radius: 25px;
    border: none;
    padding: 0 20px;
    transition: all .3s;
}

.homo button{
    height: 50px;
    line-height: 50px;
    padding: 0 30px ;
    border: none;
    box-sizing: border-box;
    background-color: rgb(210, 117, 10);
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-top-right-radius:25px ;
    border-bottom-right-radius:25px ;
}

.secondPage{
    background-image: url(img/background3.jpg);
}

.music_nav{
    display: flex;
    flex-direction:column ;
}

.music_nav button{
    margin: 20px;
}
/*.secondPage iframe{

}*/

.note{
    width: 25vw;
    height: 90vh;
    position: absolute;
    left: 60vw;
    top: 105vh;
    background-color: rgba(256, 256, 256, 0.6);
    border-radius: 2vw;
    overflow: scroll;height: 90vh;
}

.noteText{
    outline-color: white;
    border: -2vw;
    padding: 1vw;
    font-size: 2vw;
    width: 25vw;
    height: 90vh;
    position: absolute;
    left: 30vw;
    top: 105vh;
    background-color: rgba(256, 256, 256, 0.6);
    border-radius: 2vw;
}

.thirdPage{
    background-image: url(img/backgroud5.png);
}

.searchBar{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 50px;
    line-height: 50px;
}
.searchBar input{
    flex: 1;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    outline:none ;
    border-bottom-left-radius:25px ;
    border-top-left-radius: 25px;
    border: none;
    padding: 0 20px;
    transition: all .3s;
}

.searchBar button{
    height: 50px;
    line-height: 50px;
    padding: 0 30px ;
    border: none;
    box-sizing: border-box;
    background-color: rgb(210, 117, 10);
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-top-right-radius:25px ;
    border-bottom-right-radius:25px ;
}

.searchBar input:focus{
    box-shadow: 0 0 5px;
}

.fuctionArae{
    margin-top: 50px;
    margin-left: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fill,60px);
    grid-template-rows: repeat(60px,60px,60px) ;
    grid-gap:40px;
}



.fuctionArae img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.Page{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: center;
}
